body, h1, h2, h3, p, ol, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style the navigation bar */
nav {
    background-color: #444;
    text-align: center;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.welcome-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.students-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #444;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
