
h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333;
  }



img {
    width: 500px; /* Adjust this value to your desired width */
    height: 500px; /* Adjust this value to your desired height */
}

body {
    font-size: 16px;
    line-height: 1.6;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333;
  }
  
  p {
    margin-bottom: 10px;
  }
  /* Reset the default list styles */
nav ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style the list items (navigation links) */
nav li {
  display: inline-block;
  margin-right: 15px;
}

/* Style the links */
nav li a {
  text-decoration: none;
  color: #333; /* Change the color of the links */
  padding: 5px 10px;
  border: 1px solid #333; /* Add a border around the links */
  border-radius: 5px; /* Round the corners of the links */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Change the link's background color on hover */
nav li a:hover {
  background-color: #333;
  color: #fff; 
}
